<form name="form-container" class="mt-4" method="POST" action="/blogs/handle-form-action">
   <div class="containers-heading ">
     <a href="/" style="color: black; font-size: 36px;"><i class="fas fa-chevron-left"></i></a>
      <div class="d-flex flex-row-reverse ">
          <a href="/blogs/create" class="text-decoration-none "><i class="fas fa-plus" style="font-size:50px; color: black"></i></a>
          
      </div>
      <div>
          <h3>Blog của tôi</h3>
          <a href="/me/trash/blogs" class="text-decoration-none" style="color: black"><i class="fas fa-trash"></i>({{deletedCount}})</a>
      </div>
      <div class="mt-4 w-50 d-flex justify-content-start">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkBox-all">
          <label class="form-check-label" for="checkBox-all">
            Chọn tất cả
          </label>
        </div>

        <select class="form-select" style="width:420px; margin: 0 16px" aria-label="Default select example" name="action" required>
          <option value="">-- Hành động --</option>
          <option value="delete">Delete</option>
        </select>

        <button class="btn btn-primary btn-sm btn-check-all-submit disabled"
          type="button" data-bs-toggle="modal" 
          data-bs-target="#delete-all-modal">
          Thực hiện
         </button>
      </div>
   </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col" colspan="2">#</th>
          <th scope="col">Tên Bài Viết</th>
          <th scope="col">Nội dung bài viết</th>
          <th scope="col">Thời gian đăng</th>
          <th scope="col">Chức năng</th>
        </tr>
      </thead>

      <tbody>
        {{#each blogs}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="blogIDs[]" value="{{this._id}}">
            </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.description}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/blogs/{{this._id}}/edit"  class="btn btn-link">Sửa</a>
            <a href=""  class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-modal">Xóa</a>
            </td>
        </tr>
         {{else}}
          <tr>
              <td colspan="5" class="text-center">
                Bạn chưa đang bài!!!                
              </td>
          </tr>

        {{/each}}
       

      </tbody>
    </table>
</form>

<form name="delete-blog-form" method="POST" ></form>

{{!-- Confirm delete blogs --}}
<div id="delete-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chăn xóa bài viết này không?</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn-delete-blog" class="btn btn-danger" >Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<div id="delete-all-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Thông báo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có chắc chăn xóa những bài viết đã chọn không?</p>
      </div>
      <div class="modal-footer">
        <button type="submit" id="btn-delete-blog" class="btn btn-danger btn-confirm-delete-all-submit" >Xóa</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var blogID
    //when dialog confirm delete
    var exampleModal = document.getElementById('delete-modal')
    var btnDeleteBlog = document.getElementById('btn-delete-blog')
    var containerForm = document.forms['form-container']
    var deleteForm = document.forms['delete-blog-form']
    var checkBoxAll = $('#checkBox-all')
    var blogsItemsCheckBox = $('input[name="blogIDs[]"]')
    var checkAllSubmitBtn = $('.btn-check-all-submit')
    var confirmDeleteAllSubmit = $('.btn-confirm-delete-all-submit')
    var selectOptions = $('select option')

    exampleModal.addEventListener('show.bs.modal', function (event) {
      var button = event.relatedTarget
       blogID = button.getAttribute('data-id')
    })

    btnDeleteBlog.onclick = function() {
        deleteForm.action = '/blogs/' + blogID + '?_method=DELETE'
        deleteForm.submit()
    }    

    // Checked all changed
    checkBoxAll.change(function() {
      var isCheckedAll = $(this).prop('checked')
      blogsItemsCheckBox.prop('checked', isCheckedAll)
      renderCheckedAllSubmitBtn()
    })
    //Checked changed
     blogsItemsCheckBox.change(function() {
       var isCheckedAll = blogsItemsCheckBox.length ===  $('input[name="blogIDs[]"]:checked').length
       checkBoxAll.prop('checked', isCheckedAll)  
       renderCheckedAllSubmitBtn()
    })
    // Check all submit button 
      

      confirmDeleteAllSubmit.on('click', function(event) {
          containerForm.submit()
      })
    
    // re-render
    function renderCheckedAllSubmitBtn() {
      var checkedCount = $('input[name="blogIDs[]"]:checked').length
      if(checkedCount) {
        checkAllSubmitBtn.removeClass('disabled')
      }else {
        checkAllSubmitBtn.addClass('disabled')
      }
    }
    

    
  })
</script>